.table__container {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  background-color: $color-primary;
  color: $color-primary-light;
}

.table__countries {
  padding: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  border-bottom: solid $color-primary-light;
}

.table__details {
  padding: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}