.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  background-color: $color-black;

  .table2-container {
    padding: 10px;
    width: 15vw;
    height: 70vh;
    @include media-tablet {
      order: 2;
      width: 30rem;
      margin: 0 auto;
    }
  }
  .map-container {
    width: 50vw;
    height: 100%;
    @include media-tablet {
      order: 1;
      width: 100vw;
    }
  }
  .second-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35vw;
    height: 90vh;

    .table1-container {
      height: 60%;
      @include media-tablet {
        width: 100%;
      }
    }
    .graph-container {
      height: 40%;
      width: 35vw;
      @include media-tablet {
        margin-top: 7rem;
        width: 90vw;
      }
    }

    @include media-tablet {
      margin: 10rem auto 0 auto;

      order: 3;
      width: 30rem;
    }
  }

  @include media-tablet {
    flex-wrap: wrap;
  }
}
